<div class="hero">
    <div class="div_navbar">
        <div class="items_nav_left">
            <div class="div_menu_img">
                <img src="assets/Images/menu.png" class="menu_img">
            </div>

            <div class="div_white"></div>

            <div class="div_logo">
                <img src="assets/Images/logo.png" class="logo">
            </div>
        </div>
        <div class="items_nav_right">
            <div class="div_btn">
                <a routerLink="/login">
                  <img width="60" height="60" src="https://img.icons8.com/nolan/64/login-rounded-right.png"/>                
                </a>
            </div>
        </div>          
    </div>
 
    <div class="text-container">
        <div>
            <h1>Viaje com tranquilidade!</h1>
        </div> 
        <div>
            <p>Transilvânia.com é um site de viagens
                que fornece informações e conteúdos relacionados ao aluguel de quartos de hoteis.
            </p>
        </div>
        <div>
            <a routerLink="/login" >Encontre um Quarto!</a>
        </div>
    </div>
    <div class="card-end">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/Images/hotel1.jpg">
            <mat-card-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown .
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Hotel</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/Images/hotel2.jpg">
            <mat-card-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown .
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Hotel</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/Images/hotel3.jpg">
            <mat-card-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown asdasdasdaskjlndalskdn.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>