<div class="background">
    <!-- <p>cadastro works!</p> -->
    <div class="div_nav">
        <mat-toolbar color="primary" class="div_nav">
            <span>
                <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
            </span>

            <label class="texto_cadastro">Cadastro</label>
        </mat-toolbar>
    </div>

    <div class="body_content">
        <div class="image_content">
            <img width="100%" height="100%" src="assets/Images/hotel4.jpg">
        </div>
        <div class="component_content">
            <div class="content_1">
                <div class="first_content">
                    <div class="div_title_container">
                        <div class="div_title">
                            <h1 class="txt_css">Cadastre-se aqui !</h1>
                        </div>
                    </div>
                   <div class="inputs_container">
                    <mat-form-field appearance="fill" class="input_nome">
                        <mat-label>Nome</mat-label>
                            <input matInput>
                        </mat-form-field>          
                    <mat-form-field appearance="fill" class="input_senha">
                        <mat-label>Senha</mat-label>
                            <input matInput>
                        </mat-form-field>
                   </div>
                </div>
                
            </div>
             <div class="content_2">
                <div class="second_content">
                    <div class="inputs_2">
                        <mat-form-field appearance="fill" class="input_cpf">
                            <mat-label>CPF</mat-label>
                            <input matInput>
                        </mat-form-field>
    
                        <mat-form-field appearance="fill" class="input_data_nasc">
                            <mat-label>Data de nascimento</mat-label>
                            <input matInput>
                        </mat-form-field>

                    </div>
                    <div class="button_container">
                        <div class="div_button">
                            <button mat-raised-button color="primary">Salvar</button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

</div>